__pycache__/
app/postgres/data/
app/postgres/db/

bot/mongo/db/
bot/logs/

app/db.server
app/staticfiles/


*.env
nginx_conf/logs/
*/__pycache__/
**/__pycache__/

*.fleet/

.DS_Store

app/supervisor/logs/
app/db.sqlite3
.idea/
*env/
*venv/
app/supervisord.log
