__pycache__/
app/postgres/data/
app/postgres/db/

bot/mongo/db/

app/db.server

*.env
nginx_conf/logs/
*/__pycache__/
**/__pycache__/

.DS_Store

app/supervisor/logs/
app/db.sqlite3
.idea/
*env/
*venv/
app/supervisord.log